@model ProductSearchViewModel


@{
    var categories = Model.Categories.Select(x => new SelectListItem
    {
        Text = x.Name,
        Value = x.Id.ToString()
    });
}


<form asp-action="Index" method="get" class="shadow rounded bg-light" style="margin-bottom:10px;margin-top:20px;height:220px">
    <div style="margin:auto">
     
<div class="row">
    <div class="col col-md-6 col-lg-4" style="margin-left:30px">
    <div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label fw-semibold text-dark">Назва</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Введіть назву...">
        </div>
    </div>

    <div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label fw-semibold text-dark">Категорія</label>
            @Html.DropDownListFor(x=> x.CategoryId,categories,new {@class="form-select"})
        </div>
    </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="mb-3">
           <label asp-for="CategoryId" class="form-label fw-semibold text-dark">Кількість відображуваних продуктів</label>
               <select name="PageSize" asp-for="PageSize" class="form-select">
                    @foreach (var size in Model.PageSizeOptions)
                    {
                        <option value="@size">@size</option>
                    }
              </select>
        </div>
    </div>

        </div>

    </div>


    <div class="d-flex gap-3 mb-3" style="margin-left:30px;">
        <button type="submit" class="btn btn-info" style="width:150px">
            <i class="bi bi-search"></i> Пошук
        </button>
        <a asp-action="Index" style="width:150px" class=" btn btn-secondary">
            Очистити
        </a>
    </div>
    </form>
