@model UserLinkViewModel


<li class="nav-item">
    <a class="nav-link" 
    asp-action="Profile" 
    asp-controller="User">
        <img src="/images/50_@Model.Image" alt="@Model.Name" style="height:32px !important; width:32px !important; border-radius: 50%;" />
    @Model.Name
    </a>
</li>