@model ForgotPasswordViewModel


<div class="container" style="margin-top:45px;max-width:700px">
    <form asp-action="ForgotPassword" class="p-4 shadow-lg rounded bg-light" style="align-content:center">
        <h2 class="text-center">Відновлення паролю</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label  fw-semibold text-dark"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="align-items-center" style="margin-top:30px;">
            <button type="submit" style="width:180px;" class="btn btn-primary btn-lg">Відновити</button>
        </div>

    </form>
</div>