@model ProductCreateViewModel

<div  class="container">
    <form asp-action="Create" enctype="multipart/form-data" class="p-4 shadow rounded bg-white" style="max-width: 750px;margin:auto">
        <h4 class="mb-4 text-center">Створення продукту</h4>


        <div class="mb-3">
            <label asp-for="Name" class="form-label fw-semibold text-dark">Назва продукту</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Введіть назву категорії" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="Description" class="form-label fw-semibold text-dark">Опис</label>
            <textarea asp-for="Description" id="Description" class="form-control" rows="4" placeholder="Введіть опис категорії"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>


    <div class="row">
            <div class="col mb-3">
                <label asp-for="CategoryId" class="form-label fw-semibold text-dark">Категорія</label>
                <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
                    <option value="0">Select category</option>                 
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

        <div class="col mb-3">
            <label asp-for="Priority" class="form-label fw-semibold text-dark">Пріоритет</label>
            <input asp-for="Priority" type="number" class="form-control" min="1" max="10" placeholder="Введіть пріоритет продукту" required>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
    </div>

        <div class="mb-3">
            <label asp-for="Images" class="form-label fw-semibold text-dark">Оберіть фото</label>
            <input asp-for="Images" type="file" class="form-control" accept="image/*" multiple onchange="previewImages(event)">
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>

        <div id="imagesPreview" class="d-flex flex-wrap gap-3 mt-3"></div>

        <!-- Кнопка -->
        <button type="submit" class="btn btn-primary">Створити продукт</button>
        <a asp-action="Index" class="btn btn-danger">Скасувати</a>
    </form>

</div>

@section PageScripts {
    <script src="https://cdn.tiny.cloud/1/xafawdb5993dx4wtnyewhdjlv64j8fk4dxuh4tjr7pgqemce/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#Description',
            height: 300,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
        });

            document.querySelector('form').addEventListener('submit', function (e) {         
            const editor = tinymce.get('Description');       
            const plainText = editor.getContent({ format: 'text' });       
            document.getElementById('Description').value = plainText;
        });
    </script>


    <script>
        function previewImages(event) {
            const previewContainer = document.getElementById('imagesPreview');
            const files = event.target.files;

            if (files) {
                Array.from(files).forEach(file => {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                     const card = document.createElement('div');
                    card.className = 'card';
                    card.style.width = '120px';
                    card.style.marginBottom = '10px';

                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.className = 'card-img-top';
                    img.style.height = '120px';
                    img.style.objectFit = 'cover';

                    const cardBody = document.createElement('div');
                    cardBody.className = 'card-body p-1 d-flex justify-content-center';

                    const removeBtn = document.createElement('button');
                    removeBtn.className = 'btn btn-danger btn-sm';
                    removeBtn.innerText = 'X';
                    removeBtn.onclick = function() {
                        previewContainer.removeChild(card); 
                    };

                    cardBody.appendChild(removeBtn);
                    card.appendChild(img);
                    card.appendChild(cardBody);
                    previewContainer.appendChild(card);

                    };
                    reader.readAsDataURL(file);
                });
            }
        }
    </script>
}
